    <div id="top_content">
        <div id="img_container" class="z-depth-1">
              <!--
              <button onclick="testFunc1()" class="mybutton1">R</button>
              <button onclick="testFunc2()" class="mybutton2">C</button> 
              -->
        </div>
        <div id="bar_container" class="z-depth-1">
            <div id="tabs">
              <ul>
                <li><a href="#tabs_feature">Feature View</a></li>
                <li><a href="#tabs_group_bundling">Group View (Bundle)</a></li>
                <li><a href="#tabs_group_sankey">Group View (Sankey)</a></li>
              </ul>
              <div id="tabs_feature" class="map">
              </div>
              <div id="tabs_group_bundling"></div>
              <div id="tabs_group_sankey"></div>
            </div>
            <!-- 
            <div id="sub_bar_container_1">              
            </div>
            <div id="sub_bar_container_2">              
            </div>
            <div id="sub_bar_container_3">              
            </div> 
            -->
        </div>
    </div>
    <div id="bottom_content">
        <div id="query_container" class="z-depth-1">
            <div id="subquery_container_1">
            </div>
            <div id="subquery_container_2a">
                <!-- Color B: <input class="jscolor" value="ab2567">           -->
            </div>
            <div id="subquery_container_2b">     
                <!-- Color B: <input class="jscolor" value="ab2567">           -->
            </div>
        </div>
        <div id="option_container" class="z-depth-1">
            <!-- <div id="suboption_container"> -->
            <div id="suboption_container">
                <fieldset class="field_set">
                    <legend class="legend_text">Parameters</legend>
                    <select name="option_mmethod" id="option_mmethod">
                        <option value="FLANN">Matching Method</option>
                        <option value="FLANN">FLANN</option>
                        <option value="BruteForce">BruteForce</option>
                    </select>
                    <select name="option_segnum" id="option_segnum">
                        <option value=84>Segment Size</option>
                        <option value=16>16</option>
                        <option value=32>32</option>
                        <option value=64>64</option>
                        <option value=84>84</option>
                        <option value=96>96</option>
                    </select>
                    <select name="option_density" id="option_density">
                        <option value=16>Sampling Rate</option>
                        <option value=16>16</option>
                        <option value=32>32</option>
                        <option value=64>64</option>
                        <option value=256>256</option>
                        <option value=512>512</option>
                        <option value=2048>2048</option>
                    </select>

                    <button onclick="buttonEventLoad()" class="ui-button ui-widget ui-corner-all" style="width:120px;height:27.5px;  top:0px;">Test</button>
                </fieldset>
            </div>

            <!-- 
                <input class="ui-button ui-widget ui-corner-all" type="submit" value="A submit button">
                <a class="ui-button ui-widget ui-corner-all" href="#">An anchor</a>
            -->
            <!-- </div> -->
        </div>

    </div>

    <div id="annotator-container"></div>
    <!--
      <form action="/photo2" method="post">
        <button type="submit" value="Send Email">Hello</button>
      </form>

    </div>
    <div id="bottom_content">
        <div id="sim_container" class="z-depth-2"></div>
    </div>
    -->
<!--     
    <canvas id="mycanvas" width=1240 height=620></canvas>
     -->
